<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ophio.androidl" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.MyApp"
        android:label="@string/app_name" >
        <activity
            android:name="com.ophio.androidl.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ophio.androidl.view.ActivityTransitionsDemoActivity"/>
        <activity android:name="com.ophio.androidl.view.TransitionsActivity"/>
        <activity android:name="com.ophio.androidl.view.RevealDemoActivity"/>

    </application>

</manifest>
